# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt

# Celery
celerybeat-schedule
celerybeat.pid

# Logs
*.log
logs/*.log

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Database
*.db
*.sqlite3

# файлы для обработки
app/parsers/data/